/**
 * @file
 * style tabs in phenotypes/instructions page
 */

#tabs {
  background: none;
  border-width: 0px;
  padding: 0px;
}

#tabs .ui-tabs-nav {
  background: transparent;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px;
  padding-left: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
}

#tabs .ui-tabs-panel {
  background: #FAFAFA; 
  border-width: 0px 1px 1px 1px;
  font-size: 0.9em;
}

#tabs .ui-tabs-panel li p {
  margin: 0;
  padding: 2px;
}

#tabs .ui-tabs-panel p a {
  color: #13B72D;
}

#tabs td, #lists td {
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: top;
}

#tabs td em {
  font-weight: bold;
}

#tabs tr:nth-child(odd), #lists tr:nth-child(odd) {
  background-color: #F7F7F7;
}

#tabs .error-message-cells, #lists .error-message-cells {
  background-color: #FFFFFF;
  border: 1px solid #969696;
  font-weight: normal;
  margin: 0 auto;
  padding: 2px 7px;
  text-align: center;
  width: 130px;
}

.container-link {
  background-color: #EAEAEA;
  border: 1px solid #FFFFFF;
  clear: left;
  font-size: 1.2em;
  margin: 10px 0 0 0;
  padding: 20px;
}

a.button:hover {
  background: #DEDEDE none repeat scroll 0% 0%;
}

#essential a {
  background-color: green;
  color: #FFFFFF;
}

#phenotype-page {
  font-size: 0.9em;
}

.ui-autocomplete li {
  font-size: 0.7em;
  font-family: arial;
}

/* search and view type */
#container-option {
  margin: 0 0 25px 0;
  padding: 0;
}

div.tools {
  display: table-cell;
  padding: 0 5px 0 0;
}

div.tools img {
  cursor: pointer;
  float: left;
  margin: 0 4px;
  padding: 0;
  opacity: 0.3;
  filter: alpha(opacity=30); /* ie */
}

div.tools img:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* ie */
}

#container-option table div:first-child {
  background-color: #FFFFFF;
  border: 1px solid #969696;
  font-weight: normal;
  margin: 0 auto;
  padding: 2px 7px;
  text-align: center;
  width: 130px;
}

#container-option table td, #lists table td {
  vertical-align: top;
}

#container-option p {
  font-size: 1.1em;
  margin: 0;
}

#container-option table {
  border-bottom: 4px solid #314355;
  margin-bottom: 40px;
  
  -moz-box-shadow:    1px 1px 5px 1px #CCCCCC;
  -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC;
  box-shadow:         1px 1px 5px 1px #CCCCCC;
}

/* photo appendix */
#photo-container {
  background-color: #EAEAEA; 
  padding: 30px 5px; 
  margin-top: 20px;
  text-align: center; 
  width: 95%; margin:0 auto; 
}

#gallery-container {
  display: inline-block; 
  margin: 0 auto;
}

.side-nav {
  float: left;
  font-size: 2em;
  margin: 130px 20px 0 20px;
}

.side-nav a:link {
  color: #CCCCCC;
  text-decoration: none;  
}

.side-nav a:hover {
  color: #000000;
  text-decoration: none;
}

.gallery-img {
  float: left; 
  width: 470px;
}

#gallery-container img {
  border: 6px solid #FFFFFF;
  padding: 0;
}