/**
 * @file
 * Style phenotypes/upload global css
 */
 
/* Import global css */
@import 'rawpheno.style.css';
 
/* Page icon */
.container-subtitle {
  background: url('../img/icon-upload.gif') no-repeat left top;
  background-position: 0 5px;
}
 
.container-contents {
  background-color: #FFFFFF;
  padding: 0;
  text-align: left;
}

#rawpheno-element #edit-header ul li.active{ 
  color: red; 
  font-weight: bold; 
}

.messages pre, .status pre {
  font-family: Georgia,"Times New Roman",Times,serif;
}

em {
  font-weight: bold;
}

/* Right align the next button */
input#edit-next-step {
  float: right;
  margin: 10px 0 0 0;
}

input#edit-next-step.form-button-disabled {
  display: none;
}

/* Error message box */
.messages {
  margin: 0 0 15px 0 !important;
}

@media(max-width: 1300px) {
  ol.progress-meter li {
    font-size: 9px !important;
  }
}