/**
 * @file
 * Style phenotypes/upload stage 03 - save spreadsheet
 */

/* Import global css */
@import 'rawpheno.upload.stages.css';
@import 'rawpheno.upload.style.css';

/* Main container of the progress bar */
.container-status {
  background-color: #F7F7F7;
  border: 1px solid #CCCCCC;
  margin: -10px 0 0 0;
  padding: 25px 25px 0 25px;
}

/* Links to the rest of the pages */
.container-buttons {
  border-top: 1px solid #CCCCCC;
  padding: 30px 0 20px 0;
  margin: 30px 0 0 0;
  text-align: center;
  width: 100%;
}

div.buttons-wrapper {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
}

a.nav-buttons {
  float: left;
  padding: 20px 0 0 0;
  height: 50px;
  font-size: 1em;
  text-align:center;
  width: 20%;
  margin: 0 2.5%;
}

a.nav-buttons:nth-child(1) {
  background: url('../../theme/img/icon-upload.gif') no-repeat center top;
}

a.nav-buttons:nth-child(2) {
  background: url('../../theme/img/icon-download.gif') no-repeat center top;
}

a.nav-buttons:nth-child(3) {
  background: url('../../theme/img/icon-rawdata.gif') no-repeat center top ;
}

a.nav-buttons:nth-child(4) {
  background: url('../../theme/img/icon-instructions.gif') no-repeat center top;
}

a.nav-buttons span {
  background-color: #F7F7F7;
  margin-top: 24px;
  display: block;
  padding: 5px 0;
}

/* Progress bar */
.progress {
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
}