/**
 * @file 
 * Style phenotypes/download page.
 */
 
#field-container {
  background-color: #FAFAFA;
}
 
#field-container .fieldset-wrapper {
  text-align: center;
  width: 620px;
  margin: 0 auto;
  padding: 40px 0;
}

#field-container div.frm-cell, #div-measurements {
  text-align: left;
  padding: 10px 8px;
  float: left;
}

#div-measurements select {
  width: 350px;
}

#field-container div.frm-cell:first-child select {
  width: 100px;
}

#field-container div.frm-cell:nth-child(3) {
  width: 110px;
  margin-top: 110px;
  margin-left: 7px;
}

select:disabled {
  background-color: #F7F7F7;
}

#edit-download-submit-download {
  margin: 20px 0;
}

#field-container label {
  background-color: #CCCCCC;
  font-weight: 400;
  font-family: sans-serif;
  margin: 15px -1px 0 0;
  padding: 10px;
  width: 60px;  
}

#div-measurements label{
  width: 170px;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.2);

  /* Webkit browsers*/
  -webkit-transform: scale(1.2);
}