/**
 * @file
 * Style phenotypes/upload stage 01 - validate spreadsheet.
 */

/* Import global css */
@import 'rawpheno.upload.stages.css';
@import 'rawpheno.upload.style.css';

/* Main container of DND. The dropzone. */
#edit-dnd-upload {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#droppable-dnd {
  background: url('../../theme/img/icon-excel.gif') no-repeat top center;
  background-position: 50% 145px;
  background-color: #FCFDFD;
  border: 1px solid #AAAAAA;

  -moz-box-shadow:    1px 1px 5px 1px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 1px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 1px #EAEAEA;
  
  height: 420px;
  margin: 0;
  padding: 10px;
  width: 890px;
}

/* Drag file here message and link container */
.droppable-message {
  border: 3px solid none;
  color: #666666;
  font-size: 1.3em;
  margin: 0 auto;
  width: 99%;
  height: 225px;
  line-height: 25px;
  padding-top: 190px;
}

/* Choose file link container */
.droppable-standard-upload {
  margin: 0;
  padding: 0;
}

/* Choose file link */
#droppable-dnd a, 
#droppable-dnd a:link {
  background: none;
  border: none;
  color: #118324;
  font-family: inherit;
  font-weight: 300;
  left: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

/* Preview file */
.droppable-preview {
  position: absolute;
  display: none;
}

/* AJAX wait animation */
div.droppable-controls {
  margin: 380px auto 0 auto;
  padding: 0;
  text-align: center;
  position: absolute;
  width: 150px;
}

.droppable-controls div {
  display: inline;
  margin: 0 auto;
  padding: 0 12px 0 0 !important;
}

/* Remove button */
#edit-dnd-remove-button { 
  width: 0; 
  display: none; 
}

.file { 
  width: 0; 
  display: none; 
}

.rawpheno-validate-progress {
  border: none !important;
  padding: 0 !important;
}

#window-validation-result {
  border: 1px solid #AAAAAA;
}

div.rawpheno-validate-progress h3 {
  background-color: #EAEAEA; 
  margin-top: 0px; 
  padding: 10px 0 10px 25px; 
}

.error-main {
 list-style-type: none; 
}

ul.error-main > li {
  padding: 0 0 15px 10px;
}

ul.error-main > li em {
  margin-left: 18px;
}

ul.error-main {
  padding: 15px; 
  margin: 0 15px 0 0;
}

.error-detail {
  background-color: #F7F7F7;
  margin: 0 20px 0 0 !important;
  padding: 10px !important;
}

li.error-item {
  margin-left: 20px;
}

.success {
  background: url('../img/icon-success.jpg') no-repeat;
  background-position: 5px 0;
}

.failed {
  background: url('../img/icon-failed.jpg') no-repeat;
  background-position: 5px 0;
}
