/**
 * @file
 * Global style sheet.
 */

/* Page Title. */
.container-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #304356;
  color: #FFFFFF;
  font-size: 1.1em;
  /* min width is 950 */
  min-width: 970px;
  padding: 10px 0 10px 20px;
}

/* Page Content. */
.container-page {
  border: 1px solid #304356;
  background-color: #FFFFFF;
    
  -moz-box-shadow:    1px 1px 5px 1px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 1px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 1px #EAEAEA;
 
  /* min-width of div is 950 */
  /* less padding and border */
  min-width: 908px;
  padding: 20px 40px 30px 40px;
  text-align: center;
}

.content-wrapper {
  display: inline-block;
  margin: 0 auto;
  padding: 0;
}

/* Page Subtitle */
.container-subtitle {
  border-bottom: 1px solid #CCCCCC;
  height: 65px;
  width: 910px;
}

.subtitle-left, .subtitle-right {
  height: 60px;
  margin-top: 15px;
}

.subtitle-left {
  float: left;
  margin-left: 70px;
}

.subtitle-right {
  float: right;
}

/* Page Contents/Copy */
.container-contents {
  background-color: #FAFAFA;
  clear: both;
  margin-top: 25px;
  padding: 30px 0;
  width: 910px;
}

/* Navigation */
.subtitle-right a {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;  
  text-decoration: none;
}

.subtitle-right a, .subtitle-right a:visited, .subtitle-right a:active {
  background: #304356;
  border: 1px solid #EAEAEA;
  font-family: Arial;
  color: #FFFFFF;
  font-size: 0.9em;
  padding: 15px 25px 15px 25px;
  text-decoration: none;
}

.subtitle-right a:hover {
  background: #adb4b8;
  background-image: -webkit-linear-gradient(top, #304356, #CCCCCC);
  background-image: -moz-linear-gradient(top, #304356, #CCCCCC);
  background-image: -ms-linear-gradient(top, #304356, #CCCCCC);
  background-image: -o-linear-gradient(top, #304356, #CCCCCC);
  background-image: linear-gradient(to bottom, #304356, #CCCCCC);
  border: 1px solid #CCCCCC;
  color: #FFFFFF;
  text-decoration: none;
}

a span {
  font-size: 1.3em;
  margin-left: 7px;
}