/**
 * @file
 * Style notification block.
 */


/* Main block container. */
#rawphenotypes-block .block {
  padding-top: 5px;
}

/* Contextual link blocks the help button for admin.
   This rule will hide it. Alternatively, this block
   can be managed in blocks main menu */
#rawphenotypes-block .contextual-links-wrapper {
  display: none;
}

#rawpheno-notification-block {
  border: 2px solid #314355;
  border-top: 10px solid #314355;
  min-height: 180px;
}

/* Reset Drupal block styling */
#rawpheno-notification-block .block {
  padding: 0;
}

#rawpheno-notification-block-wrapper {
  position: relative:
}


/* Need help upper right hand corner */
#rawpheno-notification-need-help {
  float:right;
  position: relative;
  width: 50px;
}

#rawpheno-notification-need-help div {
  background-color: #314355;
  border-bottom: 2px solid red;
  float: right;
  height: 30px;
  line-height: 10px;
  position: relative;
  top: -16px;
  text-align: center;
  width: 40px;
}


#rawpheno-notification-need-help a {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.75em;
  text-decoration: none;
}

/* Rows */
.rawpheno-notification-item,
.rawpheno-item-wrapper h3 {
  margin: 0;
  padding: 0;
}

.rawpheno-item-wrapper {
  margin-left: 55px;

}

/* Title */
.rawpheno-notification-title {
  font-size: 1.18em;
  font-weight: 300;
  line-height: 20px;
  min-height: 50px;
}

/* Alert colours */
.rawpheno-green {
  background: url('../img/icon-notification-green.gif') no-repeat left center;
}

.rawpheno-yellow {
  background: url('../img/icon-notification-yellow.gif') no-repeat left center;
}

.rawpheno-red {
  background: url('../img/icon-notification-red.gif') no-repeat left center;
}

.rawpheno-notification-title h3 {
  font-size: 1.6em;
  line-height: 30px;
}

/* Horizontal line */
.rawpheno-notification-hline {
  border-bottom: 1px solid #D0D0D0;
  height: 1px;
  margin: 5px 0 10px 0;
}

/* Items: Backup and Upload */
.rawpheno-item-a {
  background: url('../img/icon-notification-backup.gif') no-repeat left top;
  margin: 0 0 15px 0;
}

.rawpheno-item-b {
  background: url('../img/icon-notification-upload.gif') no-repeat left top;
}

.rawpheno-item-a h3,
.rawpheno-item-b h3 {
  font-size: 1.3em;
}

.rawpheno-notification-arrow-right {
  background: url('../img/menu-collapsed.png') no-repeat left center;
  padding-left: 10px;
}

/* Help Topics */
#rawpheno-notification-help-topics {
  display: none;
}

#rawpheno-notification-help-topics ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.rawpheno-item-c {
  background: url('../img/icon-notification-help.gif') no-repeat left top;
}


/* Information why backup */
#rawpheno-notification-info-why-backup {
  display: none;
  margin: 20px;
}

#rawpheno-notification-arrow-head {
  background: #FFFFFF url('../img/line-arrow-up.gif') no-repeat center bottom;
  width: 14px;
  display: block;
  position: absolute;
  left: 45%;
  margin-top: -14px;
}

#rawpheno-notification-info-copy {
  border-bottom: 2px solid #314355;
  border-top: 2px solid #314355;
}

#rawpheno-notification-info-copy p {
  margin: 20px 0;
}

#rawpheno-notification-image {
  display: block;
  border: none;
  margin: 0 auto;
  max-width: 70%;
  min-width: 50%;
}

#rawpheno-notification-ok-button {
  background-color: #314355;
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  margin: 20px 0;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  text-align: center;
  width: 80px;
}

/* Emphasize file count */
.ap-em-count {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/* Media query - apply stype when viewport is 1500px */
@media(max-width: 1500px) {
  #rawpheno-notification-block-wrapper {
    font-size: 0.9em;
  }

  .rawpheno-notification-title {
    background-position: top left;
  }

  .rawpheno-item-wrapper {
    margin: 0;
    padding: 50px 0 0 0;
  }
}

