/**
 * @file
 * Style phenotypes/upload stage 02 - describe additional trait
 */

/* Import global css */
@import 'rawpheno.upload.stages.css';
@import 'rawpheno.upload.style.css';

/* Main fieldset container */
#edit-xls-review-fldset {
  padding: 10px 20px 20px 20px;
}

/* Checkbox and Trait link */
input[type=checkbox] {
  margin-right: 10px;
  /* All browsers except webkit*/
  transform: scale(1.2);
  /* Webkit browsers*/
  -webkit-transform: scale(1.2);
}

label.option {
  color: #118324;
  cursor: pointer;
  font-weight: bold;
  margin: 3px 1px;
  padding: 4px 0px;
  font-size: 2.5em;
}

label.option:hover {
  text-decoration: underline;
}

/* Form fields elements */
input[type=text] {
  width: 465px;
}

.form-item {
  background-color: #F7F7F7;
  border-bottom: 1px solid #FFFFFF;
  margin: 0 !important;
  padding: 15px;
}

div.container-trait div {
  border-bottom: none;
  background-color: #EAEAEA;
}

div.container-trait div.form-item {
  border: none;
  margin-top: 0 !important;
  padding: 10px 30px 10px 35px;
}

/* Progress bar when check box is clicked */
.ajax-progress {
  float: right;
  margin-right: 20px;
}