/**
 * @file
 * Style phenotypes/upload stage 01 - validate spreadsheet.
 */

/* Import global css: */
@import 'rawpheno.upload.style.css';

/* Main container of DND. The dropzone. */
#droppable-dnd {
  background: url('../../theme/img/icon-excel.gif') no-repeat top center;
  background-position: 50% 160px;
  background-color: #FCFDFD;
  border: 2px solid #AAAAAA;

  -moz-box-shadow:    1px 1px 5px 3px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 3px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 3px #EAEAEA;

  height: 475px;
  margin: 0;
  padding: 0;
  width: 99.7%;
}


/* Drag file here message and link container */
.droppable-message {
  border: medium none;
  margin: 20px;
  height: 90%;
}

.droppable-message > span {
  color: #666666;
  font-size: 1.6em;
  display: block;
  line-height: normal;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 200px;
  width: 480px;
}

.droppable-message span.text-drag {
  width: 480px !important;
}


/* Choose file link */
div.droppable-standard-upload {
  color: #666666;
  font-family: inherit;
  font-size: 1.3em;
  line-height: normal;
  margin: 7px auto 0 auto;
  min-height: 20px;
  padding: 0;
  position: relative;
  top: 200px;
  width: 165px;
}

#droppable-dnd a,
#droppable-dnd a:link {
  background: none;
  border: none;
  color: #118324;
  font-family: inherit;
  font-weight: 300;
  left: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}


/* Preview file */
.droppable-preview {
  position: absolute;
  display: none;
  height: 0;
  overflow: hidden;
  width: 0;
}


/* AJAX wait animation */
div.droppable-controls {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 80%;
}

.droppable-controls div {
  display: inline;
  margin: 0 auto;
  padding: 0 12px 0 0 !important;
}


/* Remove button */
#edit-dnd-remove-button, .file {
  display: none;
  height: 0;
  width: 0;
}

/* Float text - select a project first */
#float-text {
  background-color: #FFFFFF;
  border-radius: 5px;
  font-size: 1.2em;
  height: 110px;
  position: absolute;
  text-align: left;
  padding: 35px 25px 20px 25px;
  margin: 0 auto;
  top: 355px;
  width: 270px;

  -webkit-filter: drop-shadow(0 0 5px rgba(49, 67, 85, 0.9));
}

#float-text a, #float-text a:link, #float-text a:visited {
  border: 1px solid #EAEAEA;
  border-radius: 5px;
  color: #FFFFFF;
  display: block;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.8em;
  font-weight: 300;
  margin: 20px 0 20px 20px;
  float: right;
  padding: 7px 10px 7px 10px;
  text-decoration: none;
  text-align: center;
  width: 80px;
  z-index: 1000;
}

#float-text a:hover {
  border: 1px solid #666666;
  color: #FFFFFF;

  -moz-box-shadow: 1px 1px 5px 1px #CCCCCC;
  -webkit-box-shadow: 1px 1px 5px 1px #CCCCCC;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
}

#float-text:before {
  display: block;
  border: 15px solid;
  border-color: transparent transparent #FFFFFF transparent;
  content: ' ';
  height: 0;
  position: absolute;
  left: 25px;
  width: 0;
  top: -29px;

  -webkit-filter: drop-shadow(0 -4px 2px rgba(49, 67, 85, 0.1));
}
