/**
 * @file 
 * Style phenotypes/download page.
 */

/* Import global css */
@import 'rawpheno.style.css';

/* header */
#header-download {
  background: #FAFAFA url('../img/icon-download.gif') no-repeat;
  background-position: 30px 18px;
}

.form-cell {
  float: left;
  margin: 0 10px;
  padding: 0;
}

.form-cell span {
  background: #CCCCCC url('../img/icon-marker-small.gif') no-repeat;
  background-position: 20px 37px;
  border-bottom: 4px solid #FFFFFF;
  display: block;
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 -3px 0;
  padding: 12px;
  text-align: left;
}

#div-controls {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-top: none;
  height: 296px;
}

#div-controls label {
  font-weight: normal;
  font-family: sans-serif;
  margin: 50px 0;
}

#div-controls span {
  width: 140px;
}

.clear-float {
  clear: both;
  font-size: 0;
  margin: 0;
  padding: 0;
}

input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.2);

  /* Webkit browsers*/
  -webkit-transform: scale(1.2);
}

select:disabled {
  background-color: #F7F7F7;
}

#edit-traits:disabled {
  background: url('../img/throbber-active.gif') no-repeat center;
}