/**
 * @file
 * Style phenotypes/upload global css
 */
 
/* Import global css */
@import 'rawpheno.style.css';
 
/* header */
#header-upload {
  background: #FAFAFA url('../img/icon-upload.gif') no-repeat;
  background-position: 30px 18px;
  margin-bottom: 20px;
  padding: 0 0 0 50px;
}
 
#rawpheno-element #edit-header ul li.active{ 
  color: red; 
  font-weight: bold; 
}

.messages pre, .status pre {
  font-family: Georgia,"Times New Roman",Times,serif;
}

.error-message-cell {
  background-color: #FFFFFF;
  border: 1px solid #969696;
  cursor: pointer;
  display: inline;
  float: left;
  font-weight: normal;
  margin: 3px 1px;
  padding: 2px 7px;
  text-align: center;
}

.error-message-cell:hover {
  -moz-box-shadow:    1px 1px 1px 1px #CCCCCC;
  -webkit-box-shadow: 1px 1px 1px 1px #CCCCCC;
  box-shadow:         1px 1px 1px 1px #CCCCCC;
  
  border: 1px solid #666666;
}

.error-message-text, .error-message-em {
  clear: left;  
  display: block;
  font-weight: normal;
  font-size: 1.2em;
  margin: 0;  
  padding: 0;
}

.error-message-em {
  font-weight: normal;
  font-size: 1.5em;
<<<<<<< Updated upstream
}

/* header */
#edit-header {
  background: #FAFAFA url('../img/icon-upload.gif') no-repeat;
  background-position: 30px 25px;
  border-radius: 0;
  padding-left: 25px;
}

em {
  font-weight: bold;
}

/* Right align the next button */
input#edit-next-step {
  float: right;
}
input#edit-next-step.form-button-disabled {
  display: none;
=======
>>>>>>> Stashed changes
}