/**
 * @file
 * Global style sheet.
 */

.container-header {
  background-color: #304356;
  border: 1px solid #D0D0D0;
  color: #FFFFFF;
  font-size: 1.2em;
  margin: -1px;
  min-width: 865px;
  padding: 25px 25px 25px 25px;
}

.container-header span {
  font-style: normal;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

.container-content {
  border: 1px solid #D0D0D0;
  background-color: #FFFFFF;
    
  -moz-box-shadow:    1px 1px 5px 1px #EAEAEA;
  -webkit-box-shadow: 1px 1px 5px 1px #EAEAEA;
  box-shadow:         inset 1px 1px 5px 1px #EAEAEA;
  
  min-width: 885px;
  padding: 45px;
  text-align: center;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}