/**
 * @file
 * Style phenotypes/rawdata.
 */

/* Import rawpheno global css */
@import 'rawpheno.style.css';

/* Page icon */
.container-subtitle {
  background: url('../img/icon-rawdata.gif') no-repeat;
  background-position: 0 5px;
}

.container-contents {
  background-color: #FFFFFF;
  padding: 0;
}

/* SVG container. Height and width will be used by render function */
#container-rawdata {
  background-color: #FCFDFD;
  height: 500px;
  padding: 30px 0;
  width: 100%;
}

/* SVG container for Bar Chart */
#container-barchart {
  background-color: #F2F3F3;
  display: inline-block;
  margin-bottom: 0 !important;
  opacity: 0;
  padding: 15px 0;
  text-align: center;
}

#container-barchart h2 {
  color: #FFFFFF;
  font-family: inherit;
  font-style: italic;
  font-size: 14px !important;
  font-weight: normal;
  text-align: center;
  margin-bottom: 15px !important;
  padding: 15px;
  background-color: #000000;
  display: inline-block;
}

/* Main title */
.chart-title {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-anchor: middle;
}


/* X and Y title */
.chart-axes {
  font-style: italic;
  font-size: 13px;
  text-anchor: middle;
}


/* X and Y */
.axis path,
.axis line {
  fill: none;
  padding: 0;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: middle;
}

rect {
  shape-rendering: crispEdges;
}

/* Rect in Rep */
.rect-each-rep {
  stroke: #333333;
}


/* Rect in each Location */
.rect-wrap-each-location {
  stroke: #000000;
  stroke-width: 4;
  fill: none;
}


/* Leaf marker */
.marker-rep {
  /* fill: #007F00; */
  fill: #FFFFFF;
  stroke-width: 0;
  stroke: #FFFFFF;
}


/* Legend */
.legend-text {
  font-size: 9px;
  font-family: sans-serif;
  font-weight: 300;
  stroke: none;
  text-anchor: right;
  width: 120px;
}


/* No Data */
.chart-no-data {
  fill: #000000;
  margin-top: 120px;
  stroke-width: 0;
  width: 160px;
}


/* Tooltop */
div.tool-tip {
  background: lightgreen;
  border: 1px solid #000000;
  border-radius: 2px;
  font: 12px sans-serif;
  padding: 10px;
  position: absolute;
  pointer-events: none;
  text-align: center;
  opacity: 0;
}


/* Marker information box */
#container-marker-information {
  border-bottom: 1px solid #CCCCCC;
  cursor: pointer;
  display: none;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;

  -moz-box-shadow:    0 5px 7px -9px #333333;
  -webkit-box-shadow: 0 5px 7px -9px #333333;
  box-shadow:         0 5px 7px -9px #333333;

  text-align: left;
}

#container-marker-information:hover {
  border-bottom: 1px solid #AAAAAA;
}

#container-marker-information h2 {
  display: inline-block;
  font-size: 1.3em !important;
  margin: 0;
  padding: 0;
}

#container-marker-information a {
  float: right;
}

#container-marker-information span {
 background: url('../img/icon-leaf.gif') no-repeat center;
 padding: 15px;
}

#container-marker-information em {
  font-weight: bold;
}


/* Barchart */
.barchart-axis line, .barchart-axis path {
  fill: none;
  stroke: #000000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.barchart-axis text {
  font-family: sans-serif;
  font-size: 11px;
  font-weight: 300;
}

line {
  opacity: 1;
}

/* ////////////////////////////////////// */
select {
  background-color: #FFFFFF;
  padding: 7px;
  font-size: 0.9em;
  width: 100%;
}

#container-form-select {
  display: inline-block;
  padding: 0 0 20px 0;
  margin: 0 auto;
  width: 100%;
}

#container-form-select div {
  float: left;
  text-align: left;
  width: 49%;
  margin: 0;
  padding: 0;
}

#container-form-select div:first-child {
  margin: 0 2% 0 0;
}

div.form-type-select {
  width: 100% !important;
}

label {
  text-align: left;
}
