/**
 * @file
 * Style phenotypes/upload stage 02 - describe additional trait
 */

/* Import global css */
@import 'rawpheno.upload.stages.css';
@import 'rawpheno.upload.style.css';

label.option {
  background-color: #FFFFFF;
  border: 1px solid #969696;
  cursor: pointer;
  font-weight: normal;
  margin: 3px 1px;
  padding: 4px 10px;
  text-align: center;
  font-size: 2.5em;
}

label.option:hover {
  -moz-box-shadow:    1px 1px 1px 1px #CCCCCC;
  -webkit-box-shadow: 1px 1px 1px 1px #CCCCCC;
  box-shadow:         1px 1px 1px 1px #CCCCCC;
  
  border: 1px solid #666666;
}

#stage02-window-error {
  display: none;
}

input[type=checkbox] {
  margin-right: 10px;
  /* All browsers except webkit*/
  transform: scale(1.2);
  /* Webkit browsers*/
  -webkit-transform: scale(1.2);
}

.container-form {
  padding: 0 30px;
}