/**
 * @file
 * Style download page.
 */

/* Import global css */
@import 'rawpheno.style.css';

/* Page icon */
.container-subtitle {
  background: url('../img/icon-download.gif') no-repeat left top;
  background-position: 0 5px;
}

.form-wrapper {
  display: inline-block;
  position: relative;
  margin: 0 30px;
  text-align: left;
  width: 80%;
}

#container-download select {
  min-width: 480px;
  padding: 7px;
  font-size: 0.9em;
  width: 100%;
}

div.form-type-checkbox {
  text-align: right;
  margin-top: -15px;
}

label {
  font-size: 1.0em !important;
  font-weight: bold;
  margin: 0 0 5px; 0;
}

label.option {
  font-size: 0.9em !important;
}


#div-button {
  border-top: 1px solid #CCCCCC;
  clear: both;
  text-align: right;
  margin: 35px 0 0 0;
  padding: 15px 0 0 0;
}

#edit-download-submit-download {
  margin: 10px 0 0 0;
}


/* Error message box */
.messages, .error {
  text-align: left;
}

#download-window-error {
  display: none;
  margin: 0 0 20px 0 !important;
}


/* R Friendly checkbox */
div.form-item-chk-rfriendly {
  display: inline-block;
  margin-right: 20px;
}

label img {
  border: none;
  background: none;
}

label[for='chk-select-all-locations'],
label[for='chk-select-all-traits'] {
  margin: 0 0 0 -20px !important;
  padding-left: 22px !important;
}


/* Loading message */
span.win-loading {
  background: url('../img/throbber-active.gif') no-repeat left;
  padding-left: 20px;
}
